
  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Ionic Test
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/main']">
            <ion-label>home</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/productlist']">
            <ion-label>lista de productos 2</ion-label>
          </ion-item>
          <ion-item [routerLink]="['/videojuegos']">
            <ion-label>video juegos</ion-label>
         </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"><ion-router-outlet>


